body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.btn {
  transition-property: background-color;
  transition-duration: 1s;
}

.btn:hover {
  transition-property: background-color;
  transition-duration: 1s;  
}